*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'poppins','sans-serif';
}

/* header */
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: radial-gradient(#fff,#ffd6d6);
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  list-style: none;
  display: inline-block;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
a{
  text-decoration: none;
  color: #555;
}
#menu-items a:hover::after,
#menu-items a.active::after{
  content: "";
  width: 50%;
  height: 2px;
  background:#7ac188 ;
  position: absolute;
  bottom: -4px;
  left :0px;
}
p{
  color: #555;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn{
  display: inline-block;
  background: #db550e;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background: #ad4400;
}

.btn .bx{
 text-align: center;
}
.header{
  background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
  margin-top: 70px;
}

/*Feature catageory*/
.catagoery{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}

/*Feature product*/

.col-4{
  flex-basis: 25%;
  padding: 10px;
  margin-bottom: 50px;
  min-width: 200px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}
.small-container .row{
  margin-top: 50px;
}
.title{
  text-align: center;
  margin: o auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after{
  content: '';
  background: red;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%)
}
.col-4 h4{
  font-weight: 600;
}
.rating{
  color: #ffc900;
}
.col-4:hover{
  transform: translateY(-5px);
}

/*offer section*/

.offer{
  background: radial-gradient(#fff,#ffd6d6);
  padding: 30px 0;
  margin-top: 80px;
}
.col-2 .offer-img{
  padding: 50px;
}

/*testimonial*/

.testimonial{
  padding-top: 100px;
}
.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;

}
.testimonial .col-3 img{
  width: 50px;
  border-radius: 50%;
  margin-top:20px ;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}
.bxs-quote-alt-left{
  font-size: 34px;
  color: #db550e;
}
.testimonial .col-3 p{
  font-size: 12px;
  margin: 12px 0;
}
.testimonial .col-3 h3{
  font-weight: 600;
}

/*brands*/

.brands{
  margin: 100px 0;
}
.col-5{
  width: 160px;
}
.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover{
  filter: grayscale(0);
}

/* footer */

.footer{
  background: black;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: white;
  margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  height: 1px;
  margin: 20px 0;
}
.copyright{
  text-align: center;
}


/* Product Page */

.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}
.row .col-4{
  cursor: pointer;
}
select{
  border: 1px solid #ad4400;
  padding: 5px;
}
select:focus{
  outline: none;
}

.page-btn{
  margin: 0 auto 80px;
}
.page-btn span{
  display: inline-block;
  border: 1px solid #ad4400 ;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover{
  background: #ad4400;
  color: white;
}


/* product-details page */

.single-product{
  margin-top: 80px;
}
.single-product .col-2 img{
  padding: 0;
}
.single-product .col-2{
  padding: 20px;
}
.single-product h3{
  margin: 20px 0;
}
.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input{
  width: 50px;
  height: 50px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 20px;
  border: 1px solid #ad4400;
}
.single-product input:focus{
  outline: none;
}
.single-product .bx{
  color: #ad4400;
  margin-left: 10px;
}
.small-img-row{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

/* cart-page */

.cart-page{
  margin: 150px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: white;
  background: #ad4400;
}
td{
  padding: 10px 5px;
}
td input{
  width: 50px;
  height: 50px;
  padding: 5px;
}
td a{
  color: #ad4400;
  font-size: 14px;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid #ad4400;
  width: 100%;
  max-width: 400px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}



/* account page */

.account-page{
  padding: 100px 0;
  background: radial-gradient(#fff,#ffd6d6);
}
.form-container{
  background: white;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}
.form-container span{
  font-weight: bold;
  padding: 0 10px;
  display: inline-block;
  cursor: pointer;
  width: 100px;
}
.form-btn{
  display: inline-block;
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ad4400;
}
form .btn{
  width: 100%;
  border: none;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}
#loginform{
  left: -300px;
  width: 100%;
}
#regform{
  left: 0;
}
form a{
  font-size: 12px;
}
#indicator{
  width: 100px;
  border: none;
  background: #ad4400;
  height: 3px;
  margin: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}

.password{
  display: flex;
  align-items: center;
  border: 1px solid #ad4400;
}
.password input{
  width: 100%;
  height: 12px;
  outline: 0;
  border: 0;
}
.password img{
  margin-right: 10px;
  width: 15px;
  cursor: pointer;
  padding: 5px 0;
}







/* media queries for menu */

@media only screen and (max-width:800px) {

  nav ul{
    position: absolute;
    top: 70px;
    right: 0;
    background: #333;
    width: 40%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    align-items: center;
    text-align: start;
    padding: 0px 10px;
  }
  #menu-items a:hover::after,
#menu-items a.active::after{
  content: "";
  width: 20%;
  height: 2px;
  background:#7ac188 ;
  position: absolute;
  bottom: -4px;
  left: 0px;
}

  nav ul li a{
    color: white;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}

/* content */
@media only screen and (max-width:600px){
  #menu-items a:hover::after,
#menu-items a.active::after{
  content: "";
  width: 30%;
  height: 2px;
  background:#7ac188 ;
  position: absolute;
  bottom: -4px;
  left :0px;
}
  
  .row{
    text-align: center;
  }

  .col-2,.col-3,.col-4{
    flex-basis: 100%;
  }

  .single-product .row{
    text-align: left;
  }
  .single-product .col-2{
    padding: 20px 0;
  }
  .single-product h1{
    font-size: 26px;
    line-height: 20px;
  }
}
